/* Document */
html {
    width: 1280px;
    height: auto;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.modal-body {

	background-image: url("http://i66.tinypic.com/wi7xpk.png");
	background-repeat: no-repeat;
	padding-left: 250px;
	padding-right: 0px;
	background-size: 200px;
	background-position: 25px;
}

.nav {
	padding-bottom: 0px;
	color: grey;

}


   /*Jumbotron / Header */



.mission1 {
	animation-duration: 2s;
	animation-timing-function: ease-in-out;
	color: black;
	font-family: 'Anton', sans-serif;
	background-color: white;
/*			text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;*/
    width: 1280px;
    margin-bottom: 10px;


}

.mission2 {
	animation-duration: 4s;
	animation-timing-function: ease-in-out;
	color: black;
	font-family: 'Anton', sans-serif;
	margin-top: -45px;
	background-color: white;
/*			text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;*/
    width: 1280px;


}

.mission3 {
	animation-duration: 6s;
	animation-timing-function: ease-in-out;
	color: black;
	font-family: 'Anton', sans-serif;
	margin-top: -35px;
	background-color: white;
/*			text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;*/
    width: 1280px;


}
.mission4 {
	animation-duration: 8s;
	animation-timing-function: ease-in-out;
	color: black;
	font-family: 'Anton', sans-serif;
	margin-top: -35px;
	margin-bottom: -50px;
	padding-bottom: 10px;
	background-color: white;
/*				text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;*/
    width: 1280px;



}

.breaker {

	font-family: 'Anton', sans-serif;
	background-color: white;
	color: black;
	margin-top: -10px;
	padding-top: -5px;
	width: 1280px;
	text-align: right;
/*		text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
*/    background-size: 1280px 720px;
}

.breaker2 {

	font-family: 'Anton', sans-serif;
	background-image: url("http://i68.tinypic.com/123t7ah.jpg");
	background-repeat: no-repeat;
	width: 1280px;
	height: 720px;
	background-position: center;
	background-size: fill;
	color: white;
}

.breaker3 {

	font-family: 'Anton', sans-serif;
	background-image: url("http://i64.tinypic.com/28jcu3n.jpg");
	background-repeat: no-repeat;
	width: 1280px;
	height: 720px;
	background-position: center;
	background-size: fill;
	color: white;
}
.breaker2 h1 {
	padding-top: 250px;
}

.breaker2 h5{
	margin-top: -25px;
}



/*Features Section*/
.features {

	background-image: url("http://i63.tinypic.com/bg7f2b.jpg");
	background-repeat: no-repeat;
	width: 1280px;
	height: 463px;
	background-position: center;
	background-size: cover;




}
.about{

	padding-right: 100px;
	padding-left: 100px;
	padding-bottom: 20px;
	position: center;
}

.about h4{
	padding-left: 100px;
	padding-right: 100px;
	font-family: 'Anton', sans-serif;

}
.features2 {

	background-color: white;
	background-repeat: no-repeat;
	background-attachment: fixed;
	width: 1280px;
	background-position: center;
	background-size: cover;
	

}

.features3 {

	background-image: url("http://i68.tinypic.com/saxent.jpg");
	background-repeat: no-repeat;
	width: 1280px;
	height: 463px;
	background-position: center;
	background-size: cover;




}

.features h1 {
	font-family: 'Anton', sans-serif;
	position: center;
	text-align: center;
	color: black;
	font-size: 3em;
	padding-top: .1px;
	padding-bottom: -45px;
			text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
	

}


.features h5 {
	padding-top: 50px;
	padding-right: 150px;
/*	border: 1px solid black;
	background: rgba(255,0,0,0.7);
	width: 900px;*/
/*	opacity: 0.8;
*/	font-family: 'Anton', sans-serif;
	position: right;
	text-align: right;
	color: white;
	font-size: 1.5em;
/*		text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;*/
	

	

}

.features2 h1 {
	font-family: 'Anton', sans-serif;
	position: center;
	text-align: center;
	color: black;
	font-size: 3em;
	padding-top: .1px;
	padding-bottom: 55px;
/*		text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black; */

}


.features2 p {
	font-family: 'Anton', sans-serif;
	
	/*position: center;
	text-align: center;
*/	color: black;
	font-size: 1.2em;
/*		text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black; */

}

.features2 h3 {
	font-family: 'Anton', sans-serif;
	position: center;
	text-align: center;
	color: black;
	font-size: 1.5em;
/*	padding-top: 10px;
*//*	padding-bottom: 25px;
*//*		text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black; 
    	padding: 20px;
	border: 1px solid black;
	background: rgba(128,128,128,0.9);
	opacity: 0.8;
	width: 750px;
*/

}

.features3 h1 {
	padding-top: 100px;
	font-family: 'Anton', sans-serif;
	color: white;

}

.catering {
	position: center;
/*	padding: 5% 0;
*/	background-color: gray;
	background-repeat: no-repeat;
	background-attachment: fixed;
	width: 1280px;
	background-position: center;
	background-size: cover;

}

.about {
	position: center;
/*	padding: 5% 0;
*/
}
.catering h1 {
	font-family: 'Anton', sans-serif;
	position: center;
	text-align: center;
	color: black;
	font-size: 3em;
	padding-top: .1px;
	padding-bottom: 25px;

}




.catering h5 {
	font-family: 'Anton', sans-serif;
	position: center;
	text-align: center;
	color: black;
	margin-top: -25px;




}

table{
	display: inline-block;
	background-color: rgba(000, 000, 000, 000);
	border: white;
	border: 0px;
	padding-top: 10px;
		text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black; 

}


footer{
	background-color: rgba(000, 000, 000, 000);
	min-height: 150px;
	color: white;
	text-align: center;
	padding-bottom: 0px;
	border: 0px;
		text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black; 

}

@media screen and (max-width: 776px) {
	.features img{
	max-width: 90%;
	margin: auto;

}

.carousel-inner {
	width: 1290px;
}

