/* Document */
body {

	background-color: black;
	position: relative;

}



.modal-body {

	background-image: url("https://scontent-atl3-1.xx.fbcdn.net/hphotos-xfa1/v/t1.0-9/63346_4024764977196_876321576_n.jpg?oh=d0d406f32a4a440e40b6e0d5c579c8fa&oe=57592274");
	background-repeat: no-repeat;
	padding-left: 270px;
	background-size: 260px;
	background-position: left;
}



/*Jumbotron / Header */
.jumbotron {

	background-image: url('http://s10.postimg.org/9b6gydgp5/1969412_10203680119063191_2274431833406567587_n.jpg');
	padding: 20%;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	margin-top: -10px;
	background-attachment: fixed;
	background-position: center, -238px;
}

.jumbotron h1 {
	font-family: 'Julius Sans One', sans-serif;
	position: absolute;
	top: 18;
	left: 10;
	padding-left: 20px;
	color: black;
	text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white; 

}

.mission {

	font-family: 'Julius Sans One', sans-serif;
	background-color: black;
	color: #F7FAFE;
	margin-top: 0px;
	margin-bottom: 10%;
}
.mission1{
	animation-duration: 4s;
	animation-timing-function: ease-in-out;
	color: white;
	font-family: 'Julius Sans One', sans-serif;
}
.mission2{
	animation-duration: 6s;
	animation-timing-function: ease-in-out;
	color: white;
	font-family: 'Julius Sans One', sans-serif;
}
.mission3{
	animation-duration: 8s;
	animation-timing-function: ease-in-out;
	color: white;
	font-family: 'Julius Sans One', sans-serif;
}

/*Features Section*/
.features {

	background-image: url(http://s16.postimg.org/87epwsnnp/ceiling_2.jpg);
	background-repeat: no-repeat;
	width: 100%;
	position: center;
	padding: 1% 0;
	background-attachment: fixed;
	background-size: cover;

}

.features h1 {
	font-family: 'Julius Sans One', sans-serif;
	position: center;
	text-align: center;
	color: white;
	font-size: 3em;
	padding-top: .1px;
	padding-bottom: 25px;
}


.features p {
	font-family: 'Julius Sans One', sans-serif;
	position: center;
	text-align: center;
	color: white;
	font-size: 1.2em;
}

table{
	display: inline-block;
	background-color: rgba(000, 000, 000, 000);
	border: black;
	border: 0px;
	padding-top: 550px;
}

.footer{
	background: black;
	min-height: 150px;
	color: white;
	text-align: center;
}

@media screen and (max-width: 776px) {
	.features img{
	max-width: 90%;
	margin: auto;

}



